main {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 8px;
}

.box-shadow {
  border-radius: 8px;
  box-shadow: var(--shadow-default);
}

header {
  padding: 16px 24px;

  border-radius: var(--rounded-top);
  background-color: var(--color-surface);
}

header h1 {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-secondary);
}

form {
  display: flex;
  flex-direction: column;

  gap: var(--gap-form);
  padding: var(--padding-form);

  border-radius: var(--rounded-bottom);
  background-color: var(--color-bg);
}