main {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 8px;
}

.box-shadow {
  border-radius: 8px;
  box-shadow: var(--shadow-default);
}

header {
  padding: 16px 24px;

  border-radius: var(--rounded-top);
  background-color: var(--color-surface);
}

header h1 {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-secondary);
}

form {
  display: flex;
  flex-direction: column;

  gap: var(--gap-form);
  padding: var(--padding-form);

  border-radius: var(--rounded-bottom);
  background-color: var(--color-bg);
}

.form-group {
  display: flex;
  flex-direction: column;

  gap: var(--gap-form-group);
}

.input-icon-container {
  display: flex;
  align-items: center;

  gap: 18px;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  height: 40px;
  padding: 0px 24px 0 12px;

  border: 1px solid var(--color-border-input);
  border-radius: var(--rounded-input);
  outline: 1px solid var(--color-bg);
  background-color: var(--color-bg);
  transition: outline-color var(--transition-fast);

  font-size: var(--font-size-input);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-input);
}

.form-group label {
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-semibold);
}

.application-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 36px;
  width: 100%;
  max-width: 320px;
  margin: 32px auto 12px;
}

.apps-icons-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.apps-icons-container div {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}

.application-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: var(--height-button);

  border-radius: var(--rounded-button);
  background-color: var(--color-surface);

  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

.apps-icons-container span {
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-text-secondary);
}

.input-icon-container img {
  width: 40px;
  height: 40px;
}

.label-icon-container {
  display: flex;
  align-items: center;

  gap: 12px;
}

.label-icon-container img {
  width: 20px;
  height: 20px;
}

.apps-icons-container img {
  width: 60px;
  height: 60px;
}

.checkbox-group {
  display: flex;
  align-items: center;

  gap: 12px;
}

.checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;

  outline: 2px solid var(--color-bg);
  transition: outline-color var(--transition-fast);

  cursor: pointer;
}

.checkbox-group label {
  align-items: center;

  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
}

.btn-save {
  width: 100%;
  max-width: 200px;
  height: var(--height-button);
  margin: 32px auto 0px;

  border: none;
  border-radius: var(--rounded-button);
  outline: 2px solid var(--color-bg);
  background-color: var(--color-primary);
  transition: background-color var(--transition-fast), outline-color var(--transition-fast);

  font-size: 0.875rem;
  font-weight: var(--font-weight-semibold);
  color: #ffffff;
  text-align: center;
}

.btn-save:focus {
  outline-color: var(--color-primary);
  outline-offset: 2px;
}

.btn-save:hover {
  background-color: var(--color-primary-hover);
}

.btn-save:active {
  background-color: var(--color-primary-active);
}

.form-group input[type="text"]:focus,
.form-group select:focus {
  outline-color: var(--color-primary);
}

.checkbox-group input:focus {
  outline-color: var(--color-primary);
  outline-offset: 1px;
}